spring:
  application:
    name: demo

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQLDialect
      format_sql: true

  datasource:
    url: jdbc:mysql://localhost:3306/foo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: "localhost"
      port: 6379
      batch-size: 500

  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: always
    properties:
      org.quartz:
        scheduler:
          instanceName: quartzScheduler
          instanceId: AUTO
        jobStore:
          driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
          tablePrefix: foo.QRTZ_
          isClustered: true
        threadPool:
          threadCount: 10

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true

bulk-insert:
  max-size: 5000
  chunk-size: 1000
  retry-milliseconds: 2000,5000